:root   {
    --index: calc(1vw + 1vh);
}

.auth-container{
    position: relative;
    display:block;
    width: calc(var(--index)*13);
    margin-left: auto;
    margin-right: auto;
    margin-top:15%;
    background-color: #fff;
    border: .15px solid #141414; 
    border-radius: calc(var(--index)*.5);
    font-size: calc(var(--index)*.65);
    animation: create_animation .5s ease;
}

.auth-img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    border-radius: 50%;
    background-color: #141414;
    width:calc(var(--index)*3.5);
    height:calc(var(--index)*3.5);
}
.auth-container input{
    position: relative;
    display: inline-block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--index)*.5);
    border: .5px solid #141414;
    margin-top: 5%;
    width: calc(var(--index)*10);
    height: calc(var(--index)*1.25);
    border-radius: calc(var(--index)*.25);
}

.auth-btn{
    display: block;
    margin-top: 5%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: calc(var(--index)*1.75);
    border-radius: calc(var(--index)*.5);
    border: none;
    background-color: #141414;
    color: #f9f9f9;
    font-size: calc(var(--index)*.75);
    transition: background-color .5s ease;
}


.auth-btn:hover{
    background-color: #000;
    color: #ffff;
    transition: all .5s ease;
}

.auth-label{
    position: relative;
    top: calc(var(--index)*.5);
    margin-left:auto;
    margin-right: auto;
    width: calc(var(--index)*10);
}



.btn-scnd{
    background-color: #f1f1f1;
    color: black;
    margin-bottom: calc(var(--index)*.75);
}

@keyframes create_animation{
    0%{
      transform: translateY(5%); 
    }
    25%{
      transform: translateY(-2.5%); 
    }
    50%{
      transform: translateY(3%); 
    }
    75%{
      transform: translateY(-5%);
    }
    100%{
      transform: translateY(0%);
    }