
  /* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
    position: relative;
    min-height: 100vh;
  } */

.modal-custom {
    display: block;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    height: 250px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 4;
    margin: auto;
    animation: modal_anim .7s ease;
  }

  .modal-bottom {
    display: block;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 100%;
    padding: 1.3rem;
    height: 450px;
    top: 40;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 4;
  }

  .modal-custom .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .modal-bottom .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal-bottom input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .modal-custom p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
  }
  
  button {
    cursor: pointer;
    border: none;
    font-weight: 600;
  }
  
  .btn-custom {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }
  
  .btn-open {
    position: absolute;
    bottom: 150px;
  }
  
  .btn-close {
    display: inline;
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 3;
  }

  .hidden {
    display: none;
  }

  @keyframes modal_anim{
    0%{
      transform: translateY(10%); 
    }
    25%{
      transform: translateY(-7.5%); 
    }
    50%{
      transform: translateY(15%); 
    }
    75%{
      transform: translateY(-5%);
    }
    100%{
      transform: translateY(0%);
    }
}