
.parent-container{
    background-color: #f0f0f0;
    position:fixed;
    margin-left:5%;
    margin-right:5%;
    width:90%;
    height:100%;
    top:0;
}
:root   {
    --black: #141414;
    --index: calc(1vw + 1vh);
}
.child-elem{
    position: absolute;
    top: 50%;
}

.circle-button{
    display: inline-block;
    vertical-align: center;
    position: relative;
	background: #f9f9f9;
	font-size: calc(var(--index)*.9);
    padding: calc(var(--index)*.8) calc(var(--index)*1.2);
    background-color: #f9f9f9;
	transition: all 0.5s ease;
}

.circle-button:hover, .circle-button-lg:hover{
    background-color: var(--black);
    color: #f9f9f9;
    border-radius: 8px;
    transition: all 0.5s ease;
}

